.com-image-list-group {
    overflow: hidden;
}

.com-image-list-item {
    float: left;
    position: relative;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.com-image-list-item .com-image-del {
    position: absolute;
    height: 0;
    color: #fff;
    text-align: right;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000') \0;
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
    margin: 8px;
    right: 0px;
}

.com-image-list-item:hover .com-image-del {
    height: auto;
}

.com-image-del span {
    margin: 0 5px 1px;
    cursor: pointer;
}
